:root {
  --bg-color: rgb(5, 7, 9);
  --primary-color: #a8bbd0;
  --secondary-color: #385371;
  --accent-color: #5782b1;
  --text-color: #e4e9ee;
  --usually-white: white;
  --usually-black: black;
  --vote-color: rgb(255, 196, 0);
}

.c-title {
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

body {
  min-width: 500px;
}

.navbar {
  position: fixed;
  padding: 24px 40px;
}

.nav-logo-cont {
  color: var(--text-color);
  font-size: 30px;
  font-family: "Fugaz One", sans-serif;
  transition: 0.2s;

  &:hover {
    color: var(--usually-white);
    margin-left: 10px;
  }

  &:active {
    color: transparent;
  }
}

.head-link {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s;
  font-family: "Fugaz One", sans-serif;
  font-weight: 200;

  &:hover {
    color: var(--primary-color);
  }

  &:active {
    color: transparent;
  }

  p {
    margin: 0;
  }
}

.jumbotron {
  padding: 40px;
  color: var(--text-color);
}

.logotype-name {
  margin-left: 7px;
}

.logotype-logo {
  margin-bottom: 4px;
}

.detail-bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(10px);
}

.main-detail {
  padding-top: 90px;
  background: linear-gradient(180deg, rgba(56, 83, 113, 1) 0%, rgba(168, 187, 208, 1) 100%);
}

.main-home {
  padding: 100px 0 40px 0;
  background: linear-gradient(180deg, rgba(56, 83, 113, 1) 0%, rgba(168, 187, 208, 1) 100%);

}

.details-btn {
  border: 3px solid transparent;
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  transition: 0.2s;

  &:hover {
    background-color: var(--usually-white);
    color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    margin-left: 5px;
  }

  &:active {
    color: var(--bg-color);
    border: 3px solid var(--bg-color);
  }
}

.discover-btn {
  border: 3px solid transparent;
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  transition: 0.2s;

  &:hover {
    background-color: transparent;
    color: var(--usually-white);
    border: 3px solid var(--usually-white);
    margin-left: 5px;
  }

  &:active {
    color: var(--bg-color);
    border: 3px solid var(--bg-color);
  }
}

.container-buttons {
  width: 100%;
  padding: 40px;
}

.reviews-container {
  margin: 0 auto;
  max-width: 650px;
  padding: 30px;

  h2 {
    font-family: 'Fugaz One', sans-serif;
    color: var(--text-color);
    margin: 20px auto;
    font-size: 30px;
  }

  .col-12 {
    padding: 5px 20px;
  }
}

.rev-card {
  background-color: var(--accent-color);
  border: 6px solid var(--usually-white);
  border-radius: 20px;
  padding: 20px;
  color: var(--text-color);
  transition: 0.25s;

  &:hover {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .rev-title {
    width: 10px;
    font-size: 25px;
    font-family: 'Racing Sans One', sans-serif;
    margin-bottom: 5px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--secondary-color);
    }

    &:active {
      color: transparent;
    }
  }

  .propic-cont {
    background-color: var(--primary-color);
    border: 5px solid var(--text-color);
    border-radius: 50%;
    padding: 13px 10px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 15px;

    &:hover {
      border: 5px solid var(--secondary-color);
      background-color: var(--secondary-color);
    }

    .rev-propic {
      font-size: 40px;
    }
  }
}

.rev-card-body {

  .rev-pre {
    font-weight: 700;
    color: var(--primary-color);
  }

  .review {
    font-style: italic;
  }

  .vote {
    color: var(--vote-color);
  }

}

.form-review {
  margin: 0px 50px;
  padding: 30px;
  border: 7px solid var(--usually-white);
  border-radius: 20px;
  background-color: var(--secondary-color);
  font-family: 'Fugaz One', sans-serif;;

  h2 {
    width: 360px;
    font-size: 25px;
    font-family: 'Racing Sans One', sans-serif;
    margin-bottom: 15px;
    color: var(--usually-white);
  }

  label {
    color: var(--text-color);
  }

  .vote-input {
    width: 60px;
  }

  .submit-btn {
    padding: 8px 15px;
    border-radius: 12px;
    border: 3px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--text-color);
    transition: 0.2s;

    &:hover {
      border: 3px solid var(--text-color);
      background-color: transparent;
    }

    &:active{
      border: 3px solid transparent;
      color: transparent;
    }
  }
}

footer {
  background-color: var(--primary-color);
}